.TextSect {
    background-color: whitesmoke;
    color: black;
    text-align: center;
}

.TextSect p, a {
    text-align: justify;
}

article {
    padding-left: 25%;
    padding-right: 25%;
}

.text-video {
    color: whitesmoke;
    font-size: 45pt;
    position: absolute;
    background-color: #0000007a;
    border-radius: 1rem;
    z-index: 2;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-video h1{
    margin: 0;
    font-size: 60pt;
}