
/* This file is used for common things like Header and Footer 
*/

.DefaultBody{
    font: "Bebas-Regular";
    src: url('font/Bebas-Regular.otf');
    background-color: whitesmoke;
    color: black;
}

header{
    background-color: #558b2f;
}
  
.topnav {
    align-items: center;
    margin:0 auto;
    max-width: 1180px;
    max-height: 1180px;
    overflow: hidden;
    position:sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    display: flex;
}
 
.topnav .right a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav a:hover {
    background-color:whitesmoke;
    color: black;
}
  
.topnav a.active {
    background-color:whitesmoke;
    color: black;
}
.bottomnav .right a.active{
    background-color:whitesmoke;
    color: black;
}

.right{
    width: 50%;
}
  
.left{
    text-align: center;
    justify-content: center;
    width: 50%;
}

footer{
    margin: auto auto 0 auto;
    position: relative;
    background-color: #558b2f;
    color:whitesmoke;
    box-shadow: 0 50vh 0 50vh #558b2f;
}

.bottomnav{
    align-items: center;
    margin:auto auto 0 auto;
    max-width: 1180px;
    max-height: 1180px;
    overflow: hidden;
    position:sticky;
    bottom: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

/*.bottomnav .left a{
    margin-bottom: 0;
}*/

.bottomnav .right a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.bottomnav p {
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.bottomnav nav a:hover {
    background-color:whitesmoke;
    color: black;
}
.bottomnav .left a:hover{
    background-color:whitesmoke;
    color: black;
}

.SocialMedia{
    list-style: none;
    float: left;
    margin: auto 0;
}
.SocialMedia li{
    display: inline-block;
}

/*footer a{
    /*float: right;
    margin-left: auto;
    margin-right: 0;
    right: 0;
    color:red;
}*/