body{
    background-color: whitesmoke;
}
.content h1{
    font-size: 64px;
    text-align: center;
    margin: 0;
}

.content p{
    font-size: 20px;
}

h3 >a{
    font-size: 30px;
    text-decoration: none;
    color: tomato;
}

a{
    text-decoration: none;
}

p > a:visited{
    color: black;
    text-decoration: none;
}

p > a:link{
    color: black;
    text-decoration: none;
}

.CenterThis{
    margin-left: 25%;
    margin-right: 25%;
}

.Text{
    overflow: hidden;
    padding: 10%;
    background-color: rgba(245, 245, 245, 1);
    text-align: center;
    border: 0;
    border-radius: 5rem;
}