body{
    background-color: whitesmoke;
}

#TextJoin{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: whitesmoke;
}

.Text-Image{
    text-align: center;
    border-radius: 2rem;
    background-color: #f1d1fde1;
    position: absolute;
    z-index: 3;
    top: 45%;
    left:50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 20px;
  }

#ApplyForm{
    background-color: rgb(0, 134, 196);


}
 
.FormText{

    margin-left: 20px;
}





#PerInfo, #fsQuest{
    border-width: 1px;
    border-color: silver;
    font-size: 10pt;
}
#PerInfo{
    display: inline;
    border-style: solid;
    
    width: 90%;
    margin-left: 5%;

}

#fsQuest{
    border-style: dotted;
    display: inline;
    width:90%;
    margin-top: 9px;
    margin-left: 5%;
    
    
}
/*Im so confused*/

/*
#PerInfo label{
    width: 140px;
    height: 24px;
    line-height: 24px;
    text-align: left;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
}
#PerInfo input{
    height: 20px;
}
#PerInfo select{
    height: 30px;
}
#PerInfo input, #PerInfo select{
    display: inline-block;
    border: 1px solid black;
    margin-top: 3px;
}
*/

#IdEmail, #IdName {

    width: calc(100% - 100px);
    margin-left: 5px;
}

#fsTecArea, #fsQuest{
    width: calc(100% - 140px);
}

#fsTecArea label{
margin-top: 3px;

}
#fsTecArea input{
    margin-top: 3px;
    
    }

#fsGender{
    clear: both;
    border:0;
    border: 1px dashed silver;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;

}

#fsGender input{
    margin-left: 30px;
}
#fsGender label{
    display: inline-block;
    
    text-align: left;
}
*/

/*Trying if this will fix the errors*/


.col-25 {
    display: inline;
  }
  

  /* Used to make all the top margins*/
  .row:after {
    margin-top: 20px;;
    content: "";
    display: table;
    clear: both;
  }

#fsQuest p{
    margin-left: 10px;
}
#fsQuest textarea{
    margin-left: 0px;
    height: 0%;
    display: block;
    float:left;
    resize:none;
}
#fsQuest label{
    display: block;
    height: 30px;
    margin-left: 45px;
}
#buttons{
    clear: both;
    text-align: center;
}

#buttons input:hover{
    background-color: white;
}

#buttons input{
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 30px;
    width: 130px;
    height: 35px;
    border: 2px solid #4D7E00;
    font-size: 12pt;
    border-radius: 5px;
    background-color:silver;
}