
@media only screen and (min-device-width: 1200px){

	#Info_Section .h1{font-size:100px}	
}

@media only screen and (min-device-width: 768px) and (max-device-width:1199px){

	#Info_Section .h1{font-size:80px}	

}

@media only screen and (min-device-width: 576px) and (max-device-width:767px){

	#Info_Section .h1{font-size:60px}
	.menu {display:flex;visibility:visible;}
	.container {display:none;visibility:hidden}

}

@media only screen and (max-device-width: 575px) {

	#Info_Section .h1{font-size:40px}
	.menu {display:none;visibility:hidden}
	.container {display:flex;visibility:visible;}

}