div{
    display: flex;
    align-items: center;
    color:black;
    text-align: center;
}

.GamePoster{
    width: 60%;
    /*padding-left: 17%;*/
}

.left-half {
    background-color:blanchedalmond;
    padding-left: 0;
    left: 0;
    float: left;
    width: 50%;
}
  
.right-half {
    background-color: #b6701e;
    padding-right: 0;
    right: 0px;
    width: 50%;
    float: right;
}